*{
 background: #FF7979;;
}

.fullSet{
    display: flex;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 100px;
}
.texts > h1{
    width: 525px;
height: 131px;
color: #FFF;
font-family: "Poppins";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.521px;
}
.texts > p{
    width: 525px;
    color: #FFF;
font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
}
.emailInput{
    border-radius: 5px;
border: 1px solid #5E54A4;
background: #FFF;
    width: 460px;
height: 56px;

}
.firstText{
    border-radius: 5px;
    border: 1px solid #5E54A4;
    background: #FFF;
        width: 460px;
    height: 56px;
}
.secondText{
    border-radius: 5px;
    border: 1px solid #5E54A4;
    background: #FFF;
        width: 460px;
    height: 56px;
}
.passwordIput{
    border-radius: 5px;
    border: 1px solid #5E54A4;
    background: #FFF;
        width: 460px;
    height: 56px;
}
.triaBtn{
    width: 460px;
height: 56px;
border-radius: 5px;
background: #38CC8B;
box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}